{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Create Contract</h1><br>
    <form method="POST">
        <div class="student">
            <label for="sign_date">Sign Date:</label>
            <input type="date" name="sign_date" id="sign_date" required>
        </div>
        <div class="student">
            <label for="agent_id">Agent ID:</label>
            <input type="number" name="agent_id" id="agent_id" required>
        </div>
        <div class="student">
            <label for="client_id">Client ID:</label>
            <input type="number" name="client_id" id="client_id" required>
        </div>
        <div class="student">
            <label for="property_id">Property ID:</label>
            <input type="number" name="property_id" id="property_id" required>
        </div>
        <div class="student">
            <button type="submit">Create Contract</button>
        </div>
    </form>
    <a href="{{ url_for('show_contract') }}">Back to Contracts</a>
{% endblock %}
