{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Create Property</h1><br>
    <form method="POST">
        <div class="student">
            <label for="number_of_rooms">Number of Rooms:</label>
            <input type="number" name="number_of_rooms" required>
        </div>
        <div class="student">
            <label for="building_year">Building Year:</label>
            <input type="number" name="building_year" required>
        </div>
        <div class="student">
            <label for="area_size">Size (square meters):</label>
            <input type="number" name="area_size" required>
        </div>
        <div class="student">
            <label for="price">Price:</label>
            <input type="number" name="price" required>
        </div>
        <div class="student">
            <label for="location_id">Location:</label>
            <select name="location_id" required>
                {% for location in locations %}
                    <option value="{{ location[0] }}"> 
                        {{ location[1] }}, {{ location[2] }} 
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="student">
            <label for="owner_id">Owner:</label>
            <select name="owner_id" id="owner_id" required>
                {% for owner in owners %}
                    <option value="{{ owner[0] }}">{{ owner[1] }}</option>
                {% endfor %}
            </select>
        </div>        
        <div class="student">
            <button type="submit">Create Property</button>
        </div>
    </form>
{% endblock %}