<div>
    <h1>Property Listings</h1>

    <table>
        <thead>
            <tr>
                <th>Property ID</th>
                <th>Location</th>
                <th>Size (sq. m)</th>
                <th>Number of Rooms</th>
                <th>Furniture</th>
                <th>Building Year</th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.location }}</td>
                <td>{{ property.size_m }}</td>
                <td>{{ property.rooms }}</td>
                <td>{{ 'Yes' if property.furniture else 'No' }}</td>
                <td>{{ property.building_year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>