<!-- show_property.html -->
{% extends 'base.html' %}

{% block content %}
    <h1 class="title">All Properties</h1>
    <div class="content">
        <table>
            <tr>
                <th>Property ID</th>
                <th>Number of Rooms</th>
                <th>Building Year</th>
                <th>Area Size</th>
                <th>Price</th>
                <th>Location</th>
            </tr>
            {% for property in properties %}
                <tr>
                    <td>{{ property.property_id }}</td>
                    <td>{{ property.number_of_rooms }}</td>
                    <td>{{ property.building_year }}</td>
                    <td>{{ property.area_size }}</td>
                    <td>{{ property.price }}</td>
                    <td>{{ property.location }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
