{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Agent List</h1>
    <div class="content">
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Employment Date</th>
                <th>Address</th>
            </tr>
            {% for agent in agents %}
                <tr>
                    <td>{{ agent.agent_id }}</td>
                    <td>{{ agent.first_name }}</td>
                    <td>{{ agent.last_name }}</td>
                    <td>{{ agent.email }}</td>
                    <td>{{ agent.phone_number }}</td>
                    <td>{{ agent.employment_date }}</td>
                    <td>{{ agent.address_line }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
