<!-- show_contract.html -->
{% extends 'base.html' %}

{% block content %}
    <h1 class="title">All Contracts</h1>
    <div class="content">
        <table>
            <tr>
                <th>Agent</th>
                <th>Client</th>
                <th>Owner</th>
                <th>Price</th>
            </tr>
            {% for contract in contracts %}
                <tr>
                    <td>{{ contract.agent_first_name }} {{ contract.agent_last_name }}</td>
                    <td>{{ contract.client_first_name }} {{ contract.client_last_name }}</td>
                    <td>{{ contract.owner_first_name }} {{ contract.owner_last_name }}</td>
                    <td>{{ contract.price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
